<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology Stack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#"><img width="10%" src="./images/Logo.png" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Back<span class="sr-only">(current)</span></a>
                </li>  
            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>
<!-- <div>
    <h2><b>HTML</b></h2>
        <p> is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</p>
    <h2><b>Visual Studio</b></h2>
        <p>is an integrated development environment from Microsoft. It is used to develop computer programs, as well as websites, web apps, web services and mobile apps.</p>
    <h2><b>CSS</b></h2>
        <p> is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
    <h2><b>JavaScript</b></h2>
        <p>is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. Over 97% of websites use JavaScript on the client side for web page behavior, often incorporating third-party libraries.</p>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="w-25">
                    <img src="/images/HTML.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>HTML</td>
                <td>HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td class="w-25">
                    <img src="/images/JAVASCRIPT.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>JavaScript</td>
                <td>JavaScript is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. Over 97% of websites use JavaScript on the client side for web page behavior, often incorporating third-party libraries.</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td class="w-25">
                    <img src="/images/CSS.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>CSS</td>
                <td>CSS is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td class="w-25">
                    <img src="/images/VSCODE.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Visual Studio</td>
                <td>Visual Studio or VScode is an integrated development environment from Microsoft. It is used to develop computer programs, as well as websites, web apps, web services and mobile apps.</td>
              </tr>
            </tbody>
          </table>   
      </div>
    </div>
  </div>

</body>
</html>